.cta .cta-inner {
    box-shadow: 0 0 2px 1px black;
}

.bg-faded {
    box-shadow: 0 0 2px 1px black;
}

.section-heading-upper {
    text-decoration-line: underline;
    text-decoration-color: black;
}

.intro-button {
    padding-left: 3.5rem;
}

.row {
    margin-top : 20px;
}

.footer {
    font-family: 'Raleway';
    margin: auto;
    color: #bfb8b6;
    text-align: center;
    text-transform: uppercase;
}

#centsept {
    color: orange;
    font-size: 1.5rem;
}

#mainNav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

body {
    margin-top: 30px;
    padding-top: 30px;
    font-size: 1.15rem;
}