.cta .cta-inner {
    box-shadow: 0 0 2px 1px black;
}

.bg-faded {
    box-shadow: 0 0 2px 1px black;
}

.section-heading-upper {
    text-decoration-line: underline;
    text-decoration-color: black;
}

@media (min-width: 992px) {
    .intro .intro-text {
        left: 0;
        /* width: 60%; */
        margin-top: 3rem;
        position: relative;
        /* margin: auto; */
    }
}